{% extends parent_template|default:'users/base_user.html' %}


{% block title %}
    {{ block.super }} - Create Account
{% endblock title %}
    

{% block content %}
    <div>
        <div>
            <form action="{% url 'dj-auth:create' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Create New Account</button>
            </form>
        </div>
        <div>
            <a href="{% url 'dj-auth:resend_activation'%}"> Lost Activation E-mail?</a>
        </div>
    </div>
{% endblock content %}
    